* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

@font-face {
	font-family: mark-one;
	src: url(../font/MarkoOne-Regular.ttf);
}

@font-face {
	font-family: nobile-regular;
	src: url(../font/Nobile-Regular.ttf);
}

@font-face {
	font-family: nobile-medium;
	src: url(../font/Nobile-Medium.ttf);
}

body {
	background-color: var(--background-color);
}

main,
header {
	margin-left: 20px;
	margin-right: 20px;
}

h1,
h2,
h3,
h4,
p {
	overflow-wrap: break-word;
	hyphens: auto;
}

h1 {
	font-family: mark-one;
	font-size: 64px;
}

h2 {
	font-style: italic;
}

h2,
p,
a {
	font-family: nobile-regular;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

img {
	max-width: 90%;
	height: auto;
	display: block;
}

/* nav/header */

a {
	color: var(--background-color);
}

a:hover {
	text-decoration: underline;
}

nav {
	height: 80px; /* fast højde på navbar */
	display: flex;
	align-items: center; /* centrér alt vertikalt */
	padding: 0 1rem;
}

.logo {
	margin-top: 10px;
	height: 100px;
	object-fit: contain;
}

.off-screen-menu {
	display: none;
}

.ul-desk a {
	color: black;
}

.ul-desk {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: flex-end;
}

.li-desk {
	margin: 0 30px;
	font-size: 2vw;
	display: flex;
	align-items: center;
}

.li-desk a:hover {
	background-color: var(--light-g-box);
}

/* lottie */

.hero-section {
	display: flex;
	justify-content: center;
}

.lottie-animation {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 150px;
	max-width: 65%;
}

/* grids */

.grid-1x1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: var(--light-g-box);
	border: 1px var(--text-color) solid;
	margin: 30px;
	margin-left: 40px;
	margin-right: 40px;
	padding: 40px;
	max-height: none;
	gap: 50px;
}

.grid-1x8 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.grid-1x1 {
	grid-column: span 3;
}

/* cta'er */

.cta-dark {
	color: var(--background-color);
	background-color: var(--text-color);
	padding: 15px;
	border-radius: 10px;
	border: 1px solid var(--text-color);
	text-decoration: none;
}

.cta-dark:hover {
	background-color: var(--background-color);
	color: var(--text-color);
	border: 1px solid var(--text-color);
	text-decoration: none;
}

.cta-line {
	font-style: italic;
	color: var(--text-color);
	text-decoration: underline;
}

.cta-line:hover {
	font-style: italic;
	color: var(--text-color);
	text-decoration: underline;
	background-color: var(--cta-light-p);
}

.pink-cta {
	background-color: var(--cta-dark-p);
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 20px;
	color: var(--text-color);
	border: 1px solid var(--text-color);
}

.pink-cta:hover {
	background-color: var(--cta-light-p);
	color: var(--text-color);
}

/* Om mig */
.kontakt h1,
.kontakt h2,
.kontakt p {
	margin-left: 40px;
	margin-right: 40px;
}

.green-infoboks-ommig {
	background-color: var(--light-g-box);
	border: 1px var(--text-color) solid;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 40px;
	padding: 20px;
	max-height: none;
}

.green-infoboks-ommig p {
	margin-top: 10px;
	margin-bottom: 30px;
}

#kontor-kat {
	margin-top: 80px;
	margin-right: 40px;
	margin-bottom: 80px;
}

/* forms */

form {
	background-color: var(--cta-dark-p);
	margin: 40px;
	padding: 10px;
	border: 1px solid var(--text-color);
	margin-bottom: 40px;
}

input,
label,
button,
textarea {
	margin: 10px;
	display: block;
	font-family: nobile-regular;
	font-size: 16px;
}

input,
textarea {
	background-color: var(--cta-light-p);
	border: 1px solid var(--text-color);
}
textarea {
	width: 300px;
	height: 60px;
	resize: vertical;
}

/* footer */
footer {
	display: flex;
	background-color: var(--text-color);
	padding: 30px;
	flex-direction: column;
	align-items: center;
}
footer p,
footer a {
	color: var(--cta-light-p);
}
